//style.css//
body {
  background-color: DarkSlateGrey;
  color:MintCream;
  margin:0;
  padding:0;
}

.left-column {
position: fixed;
top:0;
left:0;
width: 200px;
height: 100vh;
background-color: blue;
padding: 10px;
overflow-y: auto;

}

.right-column {
position: fixed;
top:0;
right:0;
width: 200px;
height: 100vh;
background-color: DarkSlateGrey;
padding: 10px;
overflow-y: auto;

}

.main-content{
margin-left: 210px;
margin-right:210px;
padding: 20px;
}

