
body {
  background-color: Green;
  color:Snow;
}

/*
.right-column {
position: fixed;
top:0;
right:0;
width: 200px;
height: 100vh;
background-color: Snow;
padding: 10px;
overfloy-y: auto;

}

.main-content{
margin-left: 200px;
margin-right:200px;
padding: 20px;
}
*/
